@tailwind base;
@tailwind components;
@tailwind utilities;

.imgClarice {
    margin-top: 1rem;
    margin-left: 2rem;
    width: 20%;
    height: auto;
    border-radius: 50rem;
}

.contenedor_frase_lispector {
    display: flex;
    text-align: left;
    margin-top: 7rem;
}

.nombre_frase_lispector{
    margin-left: 1rem;
    margin-top: 1.5rem;
    width: 15rem;
}

#nombre_clarice_lispector {
    margin-right: 64rem;
    margin-top: 1rem;
}

.libro_frase {
    font-weight: bold;
    margin-top: -1.5rem;
}

#imagen_clarice_registro{
    
}

.toast-error {
    background-color: #e74c3c;
}

.open_menu {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    color: #fff;
    margin: 0px;
    padding: 10px 20px;
}

.close_menu {
    margin: -250px;
}

#contenedor-login {
    height: 48rem;
}

.footer-desktop {
    width: 100vw;
    height: 15rem;
}

.bg-footer {
    background-size: 100vw 40vh;
    background-repeat: no-repeat;
    background-image: url(images/Footer_Desktop.png);
}


.loading-component {
    width: 100%;
    height: 100vh;
    background-color: rgba(77, 77, 77, 0.1);
}

.loading-child {
    position: absolute;
    top: 50%;
    left: 50%;
}

.grid-imgs-postales-galto {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 1.5rem;
}

.imgs-carrusel {
    /* width: 500px;
    height: 500px; */
    /* width: auto;
    height: auto; */
    /* background-repeat: no-repeat;
    background-size: contain; */
}

/* .container_catalogo_postales {
    margin: 0 auto;
    background-color: #000;
    padding: 0 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 1.5rem;
} */

@media only screen and (max-width: 600px) {

    .bg-container-home {
        width: 100vw;
        height: auto; /*100*/
        margin-top: 0px;
        background-repeat: no-repeat;
        background-image: url(images/Clarice_Pagina_Inicio_Encabezado.png);
        padding: 10% 60px;
    }

    .texts-first-container {
        margin-top: 30px;
    }

    .mySwiper {
        width: 250px;
        height: 295px;
    }
    
    .text-card-slider {
        font-weight: bold;
        color: #9FD5D1;
        padding: 0.5rem;
        text-align: center;
    }
    
    .card-slider {
        width: 250px;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        margin: 0 auto;
    }

    .segundo-container-home {
        background-color: #9FD5D1;
        padding: 50px 40px;
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    }

    .third-container-home {
        display: block;
        align-items: center;
        margin: 0 auto;
        padding: 50px 40px;
        background-color: #F6EEE9;
    }

    .third-card-slider {
        width: 250px;
        height: 300px;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
        margin: 0 auto;
    }

    .third-title {
        padding: 15px 0;
    }

    .fourth-container-home {
        width: 100vw;
        height: auto; /*100*/
        background-repeat: no-repeat;
        background-image: url(images/lispector-mobile.png);
    }

    .fourth-phrase-home {
        padding: 100px 40px 38px 40px;
        width: 85%;
    }

    .first-container-home-mobile {
        display: block;
    }

    .first-container-home {
        display: none;
    } 

    .pdf_estilos {
        display: flex;
        justify-content: center;
        width: 90%;
        height: 80vh;
    }

}


@media only screen and (min-width: 600px) {

    .bg-container-home {
        width: 100vw;
        height: 55vh; /*110*/
        margin-top: 0px;
        background-repeat: no-repeat;
        background-image: url(images/Clarice_Pagina_Inicio_Encabezado.png);
        padding: 10% 60px;
    }

    .mySwiper {
        width: 300px;
        height: 340px;
    }

    .card-slider {
        width: 300px;
        height: 445px;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        margin: 0 auto;
    }

    .text-card-slider {
        font-weight: bold;
        color: #9FD5D1;
        padding: 0.5rem;
        text-align: center;
    }

    .first-container-home {
        display: flex;
        justify-content: space-between;
    }

    .texts-first-container {
        text-align: right;
        width: 50%;
        padding-top: 300px;
    }

    .text-card-slider {
        font-weight: bold;
        color: #9FD5D1;
        padding: 0.5rem;
        text-align: center;
    }

    .segundo-container-home {
        background-color: #9FD5D1;
        padding: 50px 40px;
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    }

    .third-container-home {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 50px 50px;
        gap: 10px;
        background-color: #F6EEE9;
    }

    .third-card-slider {
        width: 400px;
        height: 340px;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
        margin: 0 auto;
    }

    .fourth-container-home {
        width: 100vw;
        height: auto; /*100*/
        background-repeat: no-repeat;
        background-image: url(images/frase-lispector-home.jpeg);
    }

    .fourth-phrase-home {
        padding: 250px 70px;
        width: 80%;
    }

    .first-container-home-mobile {
        display: none;
    }

}


@media only screen and (min-width: 900px) {

    .bg-container-home {
        width: 98.7vw;
        height: auto; /*140*/
        margin-top: 50px;
        background-repeat: no-repeat;
        background-image: url(images/Clarice_Pagina_Inicio_Encabezado_Final.png);
        padding: 15% 60px;
    }
    
    
    .first-container-home {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }
    
    .mySwiper {
        width: 300px;
        height: 340px;
    }
    
    .text-card-slider {
        font-weight: bold;
        color: #9FD5D1;
        padding: 0.5rem;
        text-align: center;
    }
    
    .card-slider {
        width: 300px;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        margin: 0 auto;
    }
    
    .texts-first-container {
        text-align: right;
        width: 50%;
        padding-top: 480px;
    }

    .segundo-container-home {
        background-color: #9FD5D1;
        padding: 100px 100px;
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    }

    .third-container-home {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 50px 100px;
        gap: 50px;
        background-color: #F6EEE9;
    }

    .third-card-slider {
        width: 400px;
        height: 340px;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
        margin: 0 auto;
    }

    .fourth-container-home {
        width: 100vw;
        height: auto; /*100*/
        background-repeat: no-repeat;
        background-image: url(images/frase-lispector-home-1920.png);
    }

    .fourth-phrase-home {
        padding: 440px 200px;
        width: 75%;
    }

    .pdf_estilos {
        display: flex;
        justify-content: center;
        width: 70%;
        height: 100vh;
    }

}


@media only screen and (min-width: 1536px) {

    .bg-container-home {
        width: 100vw;
        height: 100vh;
        margin-top: 50px;
        background-repeat: no-repeat;
        background-image: url(images/Clarice_Pagina_Inicio_Encabezado_Final_Final.png);
        padding: 15% 60px;
    }
    
    
    .first-container-home {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }
    
    .mySwiper {
        width: 400px;
        height: 445px;
    }
    
    .text-card-slider {
        font-weight: bold;
        color: #9FD5D1;
        padding: 0.5rem;
        text-align: center;
    }
    
    .card-slider {
        width: 400px;
        height: 518px;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        margin: 0 auto;
    }
    
    .texts-first-container {
        text-align: right;
        width: 50%;
        padding-top: 480px;
    }

    .segundo-container-home {
        background-color: #9FD5D1;
        padding: 100px 400px;
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    }

    .third-container-home {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 50px 180px;
        gap: 100px;
        background-color: #F6EEE9;
    }

    .third-card-slider {
        width: 400px;
        height: 450px;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
        margin: 0 auto;
    }

    .fourth-container-home {
        width: 100vw;
        height: 100vh;
        background-repeat: no-repeat;
        background-image: url(images/frase-lispector-home-2560.png);
    }

    .fourth-phrase-home {
        padding: 650px 200px;
        width: 50%;
    }

}